/* Archivo donde definiremos nuestros estilos de la página

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  max-width: 600px;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

legend {
  padding: 0 0.5em;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

button:hover {
  background-color: #0056b3;
}

.cancel {
  background-color: #c20c0c;
}

.cancel:hover {
  background-color: #a10a0a;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  main {
    padding: 0.5em;
    margin: 1em;
  }

  fieldset {
    padding: 0.5em;
  }
}
